.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.main {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.section__body--scratch-control__forever {
  display: grid;
  grid-template-columns: 70% 1fr;
}