.section {
  margin-bottom: 4.5rem;
  background-color: #ececec;
  padding: 1rem;
  border-radius: .7rem;
}
.section__title {
  font-size: 2rem;
}

.section__body {
  font-size: 1.1rem;
  margin-top: 1.5rem;
}
.section__body--scratch-movement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 3rem;
  row-gap: 2rem;
  justify-content: space-between;
}

.section__body__title {
  font-size: 1.4rem;
}

.section__body__figure {
  margin-left: 0;
}
.section__body__figure figcaption {
  color: rgb(120, 120, 120);
  font-size: .9rem;
  text-align: center;
  font-style: italic;
}
